*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

nav{
    background-color: rgb(161, 161, 161);
    width: 100%;
    height: 50px;
}
.nav-inner{
    width: 50%;
    height: 100%;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
}
.ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    
    color: black;
}